/*
https://wiki.archlinux.org/index.php/GTK%2B#Client-side_decorations
*/
.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.titlebar {
 border-radius: 0;
}

.window-frame.csd.popup {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.header-bar {
  background-image: none;
  background-color: #ededed;
  box-shadow: none;
}
/* You may want to use this if you don't like the double title.
GtkLabel.title {
    opacity: 0;
}*/


/* from oomox documentation (using with tiling wms) */
window decoration {
    margin: 0;
    border: 0;
}

/*
various tweaks: https://wiki.archlinux.org/index.php/GTK+
*/
/* Remove dotted lines from GTK+ 3 applications */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { background-image: none; }

/*
testing linuxquestions.org/questions/linux-newbie-8/missing-scroll-bars-4175642135
*/
/*
scrollbar {
   -GtkScrollbar-has-backward-stepper: 1 !important;
   -GtkScrollbar-has-forward-stepper: 1 !important;
}
*/
/*
different version: https://www.linuxquestions.org/questions/linux-mint-84/v18-1-to-v19-1-differences-4175653745/#post5994161
*/
/*
scrollbar {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
}

scrollbar slider {
    min-width: 14px;
    min-height: 14px;
}

scrollbar button {
    min-width: 20px;
    min-height: 20px;
}
*/
@import 'colors.css';